<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>twitterConsumerSecret</key>
	<string>lfHR5E5PB730bfhH4J8ZdRGM5jvDy3d1CIiZFvb3CgJY2HciMy</string>
	<key>twitterConsumerKey</key>
	<string>p5cpNaGvrwpOzhKq4pbioO0qj</string>
</dict>
</plist>
